@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  position: absolute; /* Position the tooltip */
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  /* transition: 10s ease-in-out; */
}
.badge {
  position: absolute;
  top: -17px;
  right: -5px;
  border-radius: 50%;
}
/* .mystyle{
  display: none;
} */
/* .overlay{
  display: none;
} */